*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  margin: 60px auto;
}

.wrapper img {
  float: left;
}

.nav {
  outline: 1px solid red;
  /* overflow: hidden; */
}

.nav li {
  float: right;
}
